# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== Python (Backend) =====
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ===== Node (Frontend) =====
frontend/node_modules/
frontend/dist/
frontend/.env

# ===== General =====
.env
__pycache__/
*.pyc
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Frontend/spotify_frontend